#header {
  background: url("https://images.pexels.com/photos/2923591/pexels-photo-2923591.jpeg")
    no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#header .header-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-content h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.header-content p {
  font-size: 0.8em;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 1em;
  color: #fff;
  font-weight: 200;
}

.header-content .list-social li {
  float: left;
  margin-right: 20px;
}

.header-content .list-social li i {
  color: #fff;
  font-size: 30px;
}

.list-social li i:hover {
  color: grey;
}

/* iphone 6, 6s, 7, 8, X */
@media only screen and (min-width: 375px) and (max-width: 450px) {
  .header-content h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
  }

  .header-content p {
    font-size: 0.7em;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 1em;
    color: #fff;
    font-weight: 200;
  }

  .header-content .list-social li i {
    color: #fff;
    font-size: 24px;
  }
}
